# Path to the Godot 4.6.1 binary
# If not set, the system will try to find 'godot' in PATH or use default platform locations.
# Examples:
# Windows: GODOT_PATH=C:\Users\Name\AppData\Local\Godot\godot.exe
# macOS:   GODOT_PATH=/Applications/Godot.app/Contents/MacOS/Godot
# Linux:   GODOT_PATH=/usr/local/bin/godot

GODOT_PATH=
